.faq_Container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    background: gray;
    padding: 15px;
}
.question_One {
   background: #000;
}
.question_One h3{
    margin: auto;
    text-align: center;
}